<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<base href="/"/>*@
    <title>Flottenmanagement Web App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
            {@RenderSection("Styles", required: false)}

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @RenderBody() 

    @RenderSection("scripts", required: false)
</body>
</html>
