#showAllVehicles {

    .tableVehicles {
        display: table-row; 
        cursor: pointer;
    } 
    
    .table-body-limiter {
        max-height: 430px;
        overflow: auto;
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 0px;  
    }
     
}