<div id="showAllRoutes">
    <div class="row wrapper ibox-content border-bottom white-bg page-heading">
        <div class="col-xxs-12 col-xs-12 col-sm-12 col-lg-12">
            <div>
                <h1>Routenverwaltung</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Startseite</a>
                    </li>
                    <li class="active">
                        <strong>Routen anzeigen</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxs-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight flex-container-column margin-to-footer">
                <div class="row box-container flex-one">
                    <div class="flex-container-column flex-one container-min-height table-container col-xxs-12 col-xs-12 col-sm-12 col-lg-8">
                        <div class="ibox-content flex-container-column flex-one adjust-border-width">
                            <form class="form-horizontal flex-container-column flex-one">
                                <input ng-model="filter.id" type="text" placeholder="Suche" class="form-control search-bar-minheight" focus-input>
                                <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint footable-loaded table-hover margin-top" data-page-size="8">
                                    <thead>
                                        <tr>
                                            <th class="footable-visible footable-sortable cursor-pointer col-xs-4 col-md-4 col-lg-4" ng-click="orderFieldBy = 'StartName'; reverseSort = !reverseSort">Startpunkt<span class="footable-sort-indicator"></span></th>
                                            <th class="footable-visible footable-sortable cursor-pointer col-xs-4 col-md-4 col-lg-4" ng-click="orderFieldBy = 'DestinationName'; reverseSort = !reverseSort">Zielpunkt<span class="footable-sort-indicator"></span></th>
                                            <th class="footable-visible footable-sortable cursor-pointer col-xs-4 col-md-4 col-lg-4" ng-click="orderFieldBy = 'Distance'; reverseSort = !reverseSort">Distanz<span class="footable-sort-indicator"></span></th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="table-body-limiter">
                                    <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint footable-loaded table-hover" data-page-size="8">
                                        <tbody>
                                            <tr class="footable-even tableTours cursor-pointer" ng-repeat="route in showAllRoutesCtrl.allRoutes | filter: filter.id | orderBy: orderFieldBy : reverseSort" ng-click="showAllRoutesCtrl.selectRoute(route, $index)" ng-class="{selected: $index === showAllRoutesCtrl.selected}">
                                                <td class="footable-visible col-xxs-4 col-xs-4 col-sm-4 col-lg-4">{{route.StartName}}</td>
                                                <td class="footable-visible col-xxs-4 col-xs-4 col-sm-4 col-lg-4">{{route.DestinationName}}</td>
                                                <td class="footable-visible col-xxs-4 col-xs-4 col-sm-4 col-lg-4">{{route.Distance / 1000 | number: 2}} km</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="col-xs-12 col-sm-12 col-lg-12 flex-button-container create-button-min-height">
                                <a href="#RouteManagement/createAndUpdateRoute" class="flex-button-container__button no-margin-top btn btn-w-m btn-primary">Neue Route anlegen</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-container-column flex-one container-min-height col-xxs-12 col-xs-12 col-md-12 col-lg-4">
                        <div class="ibox-title">
                            <h5>Ausgewählte Route</h5>
                        </div>
                        <div class="ibox-content flex-container-column flex-one">
                            <form class="form-horizontal margin-bottom flex-container-column flex-one">
                                <div id="selectedRouteMap" class="flex-one"></div>
                            </form>
                            <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding button-container">
                                <button class="col-xxs-6 col-xs-6 col-sm-2 col-lg-6 margin-right btn btn-w-m btn-primary" ng-click="showAllRoutesCtrl.updateRoute()" ng-disabled="!showAllRoutesCtrl.route">Bearbeiten</button>
                                <button class="col-xxs-6 col-xs-6 col-sm-2 col-lg-6 btn btn-w-m btn-danger" ng-click="showAllRoutesCtrl.deleteRouteById()" ng-disabled="!showAllRoutesCtrl.route">Löschen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
